
@using Logistics.Helpers

@{
    string userName = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        userName = User.Identity.Name;
    }
}

<!-- Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="#">
                SATIS
                <span>v.1.0</span>
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            @*<ul class="nav navbar-nav navbar-right">
            <li class="profil-link">
                <a href="#">
                    <span class="profile-address">@userName</span>

                    <i class="fa fa-fw fa-user fa-2x"></i>
                </a>
            </li>
        </ul>*@
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</nav>