@using MVCGrid.Web

@{
    ViewBag.Title = "Manage Transactions";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<h4>Update Transactions</h4>

<div class="row">
    <div class="col-lg-12">
        <div id="panelLocations" class="panel panel-filled">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <a id="btn-add" class="btn btn-success btn-sm active">Add</a>
                    </div>
                    <div class="col-lg-10 text-right"></div>
                </div>

                @Html.MVCGrid("ManageTransactions")
            </div>
        </div>
    </div>
</div>